<div id="template" class="page-container">
  <div class="l-wrapper">
    <div id="nav-buttons" class="center-nav">
      <div id="host-button" class="button"><a href="/new"><h3>Become host</h3></a></div>
      <div class="button"><h3>Sign Up</h3></div>
      <div class="button"><h3>Log In</h3></div>
      <div id="logo-button" class="button"><a href="/"><h3>HotDog</h3></a></div>
    </div>    

    <div class="body-content">
      <div class="row profile-block">  
        <div class="col-sm-6">
          <div id="image-profile">
            <img title="profile image" class="center-block img-circle" src="http://www.gravatar.com/avatar/<%= @host.email_hash%>?s=250" width="250" height="250">
            <div class="stars">
              <% @host.average_rating.times do %>
              <span style="font-size: 2em;">☆</span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <ul id="profile">
            <h2>Meet <%= @host.name %>, she loves dogs</h2>
            <li><strong>Email:</strong><p><%= @host.email %></p></li>
            <li><strong>City:</strong><p><%= @host.city %></p></li>   
          </ul>                     
          <a href="/send_message/<%= @host.id%>" class="button request" role="button">REQUEST</a>
        </div>
      </div>  
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 description">
          <p><%= @host.description %></p>
        </div>
      </div>

      <div class="row reviews">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <h2>Every <em>"woof"</em> counts.</h2>
            <div class="col-sm-4">
              <% @host.bookings.each do |booking| %>
                  <img class="img-circle review" title="profile image" src="http://www.gravatar.com/avatar/<%= Dog.profile_pic(booking)%>?s=250" width="170" height="170"></a>
                  <h3 class="stars"><% booking.dog_feedback.times do %>
                    <span>☆</span>
                  <% end %></h3>
            </div>
            <div class="col-sm-8">
              <div id="userid">
                <h2>Stoke</h2>
                <p><%= booking.dog_comments %> </p>
              </div>
              <% end %>
            </div>            
          </div>
        </div>
      </div>
        </div>
   </div>
  </div>
    
  <div class="r-wrapper">
    <img id="bg" src="/img/tall_dog_3.jpg">
  </div>
<!--     <div id="footer">
      <small>inspired by Rowan.</small>
    </div> -->
</div>
