<div class="" id="dog-profile-page">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/">HOTDOG</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <!-- <h4 class="navbar-text">Logged in as <em><%=@host.name%></em></h4>  -->
          <a href="/new" class="btn btn-warning" role="button">BECOME A HOST</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>  

<div class="container profile-push-down-container">



    <div class="row">
      <div class="col-md-4">
        <h2>PROFILE</h2>
        <div class="under-h2-margin">

        <a href="#"><img title="profile image" class="center-block" src="http://www.gravatar.com/avatar/<%= @host.email_hash%>?s=250" width="250" height="250"></a>
        </div>

        <div class="rating text-center"><h2>
          <% @host.average_rating.times do %>
            <span>☆</span>
          <% end %>
        </div>
        <div class="">
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>PROFILE DESCRIPTION</h2>
        <div class="under-h2-margin">
          <p><%= @host.description %></p>
        </div>
      </div>

      <div class="col-md-4">

        <h2>CONTACT </h2>
        <ul class="under-h2-margin list-unstyled">
          <li><h4>Name: <%= @host.name %> </h4></li>   
          <li><h4>Phone: <%= @host.phone_number %></h4></li>
          <li><h4>Email: <%= @host.email %></h4></li>   
        </ul>
        <br/>
        <br/>

        <p class="text-center">
        <a href="/send_message/<%= @host.id%>" class="btn btn-danger btn-lg" role="button">REQUEST</a>
        </p>
        
      </div>
    </div>


    <hr/>

      <% @host.bookings.each do |booking| %>
        <div class="row">
          <div class="col-md-8 col-md-offset-4"><h2>Review</h2></div>
        </div>

        <div class="row">
          <div class="col-md-4">        
              <a href="#" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" src="/img/funny-dog-2.gif" width="140" height="140">
              </a>
          </div>
          <div class="col-md-6 pull-left">
            <p><%= booking.dog_comments %> </p>
            <h2><% booking.dog_feedback.times do %>
                <span>☆</span>
                <% end %>
          </div>
      <% end %>
        
        </div>  
        <hr/>
      </div>
    </div>
    </div>